<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke" parallel="tests" verbose="1">
    <test name="AdditionTest">
        <classes>
            <class name="AdditionTest" />
        </classes>
    </test>
    <test name="SubtractionTest">
        <classes>
            <class name="SubtractionTest" />
        </classes>
    </test>
    <test name="MultiplicationTest">
        <classes>
            <class name="MultiplicationTest" />
        </classes>
    </test>
    <test name="DivisionTest">
        <classes>
            <class name="DivisionTest" />
        </classes>
    </test>
</suite>
